.footer-wrapper {
  padding: 10px 0;
}
.footer-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  gap: 40px;
  padding: 0 10px;
}
.footer-link li {
  font: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: rgba(5, 12, 69, 0.724);
}
.footer-social-icons {
  display: flex;
  gap: 40px;
}
.footer-icon {
  width: 40px;
}
.footer-icon img {
  width: 30px;
}
.subfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e92c43f;
}
.subfooter p {
  font-family: serif;
  font-size: 14px;
  padding: 8px 0;

}
